{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/style.css' %}" id="main-style-link">

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ Mobile header ] start -->
	<div class="pc-mob-header pc-header">
		<div class="pcm-logo">
			<img src="{% static 'assets/images/logo.png' %}" alt="" class="logo logo-lg">
		</div>
		<div class="pcm-toolbar">
			<a href="#!" class="pc-head-link" id="mobile-collapse">
				<div class="hamburger hamburger--arrowturn">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<a href="#!" class="pc-head-link" id="header-collapse">
				<i data-feather="more-vertical"></i>
			</a>
		</div>
	</div>
	<!-- [ Mobile header ] End -->

	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="../administrator/home" class="b-brand">
					<img src="{% static 'assets/img/logotype with favicon.png' %}" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">    
                <br><br>
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Navigation</label>
					</li>
					<li class="pc-item active">
						<a href="../administrator/dashboard" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">analytics</i></span><span class="pc-mtext">Dashboard</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Enrollee Management</label>
						<span>Enrollee Management Settings</span>
					</li>
					
					<li class="pc-item">
						<a href="../administrator/enrollee-management/regform" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">person_add</i></span><span class="pc-mtext">Account Registration</span></a>
					</li>
					<li class="pc-item">
						<a href="../administrator/enrollee-management/accounts" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">account_tree</i></span><span class="pc-mtext">Manage Accounts</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Exam Management</label>
						<span>Exam Management Settings</span>
					</li>
                    <li class="pc-item">
						<a href="../administrator/exam-management/all-exams" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">assignment</i></span><span class="pc-mtext">All Exams</span></a>
					</li>
                    <li class="pc-item">
						<a href="../administrator/exam-management/create-exam" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">post_add</i></span><span class="pc-mtext">Create Exam</span></a>
					</li>
                    
					<!-- <li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Registration</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="auth-signup.html" target="_blank">Add Enrollee</a></li>
							<li class="pc-item"><a class="pc-link" href="auth-signin.html" target="_blank">Manage Enrollee</a></li>
						</ul>
					</li> -->

				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->

	<!-- [ Header ] start -->
	<header class="pc-header">
		<div class="header-wrapper">
			<div class="ml-auto">
				<ul class="list-unstyled">
					<li class="dropdown pc-h-item">
						<a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
							{% for admin in admin_details %}
                            <img src='{{admin.picture.url}}' alt="" class="user-avtar">
                            {% endfor %}
							<span>
								<span class="user-name">{{user.get_full_name}}</span>
								<span class="user-desc">Administrator</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <a href="../administrator/profile" class="dropdown-item">
								<i class="material-icons-two-tone">account_circle</i> <!-- MODAL THIS -->
								<span>Profile</span>
							</a>
							<a href="../administrator/logout" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i>
								<span>Logout</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<!-- [ Header ] end -->

	<!-- [ Main Content ] start -->
	<div class="pc-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="page-header-title">
								<h5 class="m-b-10">Dashboard</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item">Dashboard</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			
			<!-- [ Main Content ] start -->
			<div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5>College Enrolment Growth</h5>
              </div>
               <div>
                  <canvas id="myChart"></canvas>
                </div>
          </div>
        </div>

				<!-- SECOND QUADRANT -->
				
				<div class="col-xl-6 col-md-12">
					<div class="card feed-card">
						<div class="card-header">
								<h5>SHS Enrolment Growth</h5>
							</div>
						
  						<div>
							  <canvas id="myChart2"></canvas>
							</div>
						
					</div>
				</div>
				<!-- second quadrant end -->
      </div>

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5>Demographic</h5>
							</div>
							 <div>
                  <canvas id="myChart3"></canvas>
                </div>
					</div>
				</div>

					<!-- customer-section start -->
					<!-- <div class="col-xl-6 col-md-12">
					
					<div class="card table-card">
						<div class="card-header">
							<h5>Average Score Per Part</h5>
						</div>

            <div>
                  <canvas id="myChart4"></canvas>
                </div>
					</div>
				</div> -->
				<!-- section end -->
				
				
			</div>
			<!-- [ Main Content ] end -->
		</div>
</body>

<!-- Scripts  -->
<footer> 
    <!-- Required Js -->
    <script src="{% static 'assets/js/dashboard/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/pcoded.min.js' %}"></script>
    
    <!-- custom-chart js -->
    <script src="{% static 'assets/js/dashboard/pages/dashboard-sale.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const data = {
    labels: [{% for qs_program in qs_program %} '{{ qs_program.college }}', {% endfor %}],
    datasets: [{
      label: 'Number of Enrollees',
      data: [{% for qs_program in qs_program %} '{{ qs_program.num_enrollees }}', {% endfor %}],
      backgroundColor: 'rgb(128, 0, 0)',
      borderColor: 'rgb(255,215,0)',
      borderWidth: 2,
      
    },
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      animations: {
        tension: {
          duration: 1000,
          easing: 'linear',
          from: 1,
          to: 0,
          loop: true
        }
      },
      scales: {
        y: { // defining min and max so hiding the dataset does not change scale range
          min: 0,
          max: 5
        }
      }
    }
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  const data2 = {
    labels: [{% for qs_strand in qs_strand %} '{{ qs_strand.strand_name }}', {% endfor %}],
    datasets: [{
      label: 'Number of Enrollees',
      data: [{% for qs_strand in qs_strand %} '{{ qs_strand.num_enrollees }}', {% endfor %}],
      backgroundColor: 'rgb(128, 0, 0)',
      borderColor: 'rgb(255, 215, 0)',
      borderWidth: 2,
      
    },
    ]
  };

  const config2 = {
    type: 'line',
    data: data2,
    options: {
      animations: {
        tension: {
          duration: 1000,
          easing: 'linear',
          from: 1,
          to: 0,
          loop: true
        }
      },
      indexAxis: 'y',
      scales: {
        x: {
        beginAtZero: true
      }
      }
    }
  };

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );

  const data3 = {
  labels: [
    'Freshman',
    'Transferee'
  ],
  datasets: [{
    label: '',
    data: ['{{ count_freshman }}','{{ count_transferee }}'],
    backgroundColor: [
      'rgb(128, 0, 0)',
      'rgb(255, 215, 0)',
    ],
    hoverOffset: 10
  }]
};

  const config3 = {
  type: 'pie',
  data: data3,
};

const myChart3 = new Chart(
    document.getElementById('myChart3'),
    config3
  );
  
</script>

                
</footer>

</html>
