absl-py==1.0.0
asgiref==3.4.1
astunparse==1.6.3
backports.zoneinfo==0.2.1
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cmake==3.22.0
colorama==0.4.4
cycler==0.11.0
Django==4.0
django-appconf==1.0.5
django-compressor==3.0
django-compressor-toolkit==0.6.0
dlib==19.22.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
flatbuffers==2.0
fonttools==4.28.3
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
idna==3.3
importlib-metadata==4.8.2
imutils==0.5.4
joblib==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
Markdown==3.3.6
mysqlclient==2.1.0
nodejs==0.1.1
npm==0.1.1
numpy==1.21.4
oauthlib==3.1.1
opencv-python==4.5.4.60
opt-einsum==3.3.0
optional-django==0.1.0
packaging==21.3
Pillow==8.4.0
pipreqs==0.4.11
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMySQL==1.0.2
pyparsing==3.0.6
python-dateutil==2.8.2
pywin32==302
rcssmin==1.1.0
requests==2.26.0
requests-oauthlib==1.3.0
rjsmin==1.2.0
rsa==4.8
six==1.16.0
sqlparse==0.4.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
threadpoolctl==3.0.0
typing_extensions==4.0.1
tzdata==2021.5
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
yarg==0.1.9
zipp==3.6.0