{% load static %}

<head>
    {% for exam in exams %}
    {% for part in parts %}
    <title>{{exam.title}} - {{part.part_name}}</title>
    {% endfor %}
    {% endfor %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/style.css' %}" id="main-style-link">

    <!-- Face-Api JS (Face Recognition) -->
    <script defer src="{% static 'facerec_assets/js/face-api.min.js' %}"></script>
    <script defer src="{% static 'facerec_assets/js/main.js' %}"></script>

    <!-- Page Loader -->
    <!-- <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet"> -->

    <!-- Timer -->
    <link rel="stylesheet" href="{% static 'countdowntimer/css/jquery.countdown.css' %}"">

    <style>
        canvas {
        position: absolute;
    }
    </style>
    
</head>

<body onload="myFunction()">
    <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
  
  <!-- [ Mobile header ] start -->
  <div class="pc-mob-header pc-header">
    <div class="pcm-logo">
      <img src="{% static 'assets/images/logo.png' %}" alt="" class="logo logo-lg">
    </div>
    <div class="pcm-toolbar">
      <a href="#!" class="pc-head-link" id="mobile-collapse">
        <div class="hamburger hamburger--arrowturn">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </a>
      <a href="#!" class="pc-head-link" id="header-collapse">
        <i data-feather="more-vertical"></i>
      </a>
    </div>
  </div>
  <!-- [ Mobile header ] End -->

  <!-- [ navigation menu ] start -->
  <nav class="pc-sidebar ">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a class="b-brand">
          <img src="{% static 'assets/img/logotype with favicon.png' %}" alt="" class="logo logo-sm">
        </a>
      </div>
      <div class="navbar-content">    
                <br><br>
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Exam Parts</label>
					</li>
                    
                    {% for part_list in all_parts %}
                        {% for exam in exams %}
                            {% for part in parts %}     
                                <li {% if part.part_id == part_list.part_id %} class="pc-item active" {% else %} class="pc-item" {% endif %}>
                                    <a href="../{{exam.exam_id}}/{{part_list.part_id}}" class="pc-link " style="pointer-events: none">
                                        <span class="pc-micon">
                                            <i class="material-icons-two-tone">assignment</i>
                                        </span>
                                        <span class="pc-mtext">{{part_list.part_name}}</span>
                                    </a>
                                </li>
                            {% endfor %} 
                        {% endfor %}
                    {% endfor %}

					<!-- <li class="pc-item">
						<a href="icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Part 2 - Mathematics</span></a>
					</li>
					<li class="pc-item">
						<a href="chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Part 3 - English</span></a>
					</li>
					<li class="pc-item">
						<a href="map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Part 4 - Science </span></a>
					</li>
					<li class="pc-item pc-caption"> -->
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->

  <!-- [ Header ] start -->
  <header class="pc-header ">
    <div class="header-wrapper">

      <div class="ml-auto">
        <ul class="list-unstyled">
          <li class="dropdown pc-h-item">
            <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <img src="{% static 'assets/img/dashboard/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar">
              <span>
                <span class="user-name"></span>
                <span class="user-desc">{{user.first_name}} {{user.last_name}}</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                 <!--            <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">support</i>
                <span>Support</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">settings</i>
                <span>Settings</span>
              </a> -->
              <a href="/enrollee/logout" class="dropdown-item">
                <i class="material-icons-two-tone">chrome_reader_mode</i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </header>
  <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    {% for exam in exams %}
    {% for part in parts %}
    <div class="pc-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10"><b>{{exam.title}}</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->

        
            <!-- INSTRUCTIONS start -->
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{part.part_name}}</h5>
                        </div>      
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: 500;">INSTRUCTIONS</h5>
                                    <p class="card-text">{{part.instructions}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- QUESTIONS start -->
                <div class="col-sm-8">
                    <form class="row g-3 needs-validation" novalidate method="POST">
                        {% csrf_token %}
                        <!-- {{question_no}} -->
                        <!-- <input value="{{question_no}}" name="question_no"> -->
                        {% for ques in questions %}
                        <div class="card">
                            <div class="card-body">
                                <p style="font-weight: 500; text-align: justify;">{{ques.question_no}}. {{ques.question}}</p>
                                <!-- <input type="number" value={{ques.question_id}} name="ques_id{{ques.question_id}}"> -->
                                <!-- Options -->
                                    <!--Option A-->
                                    <div class="form-check">
                                        <p style="text-align: justify;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer{{ques.question_no}}" value="A" id="exampleRadios1">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;A.&nbsp;&nbsp;&nbsp;&nbsp;{{ques.optionA}}
                                            </div>
                                        </p>
                                    </div>
                                    <div class="invalid-feedback">
                                        No option specified.
                                    </div>

                                    <!--Option B-->
                                    <div class="form-check">
                                        <p style="text-align: justify;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer{{ques.question_no}}" value="B" id="exampleRadios1">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;B.&nbsp;&nbsp;&nbsp;&nbsp;{{ques.optionB}}
                                            </div>
                                        </p>
                                    </div>

                                    <!--Option C-->
                                    <div class="form-check">
                                        <p style="text-align: justify;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer{{ques.question_no}}" value="C" id="exampleRadios1">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;C.&nbsp;&nbsp;&nbsp;&nbsp;{{ques.optionC}}
                                            </div>
                                        </p>
                                    </div>

                                    <!--Option D-->
                                    <div class="form-check">
                                        <p style="text-align: justify;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer{{ques.question_no}}" value="D" id="exampleRadios1">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;D.&nbsp;&nbsp;&nbsp;&nbsp;{{ques.optionD}}
                                            </div>
                                        </p>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                        <center style="padding-bottom: 50px;">
                            <button class="btn btn-primary" type="submit" name="btnSubmitExam" style="width: 30%;">Submit</button>
                        </center>
                    </form>
                </div>

                <div class="col-sm-4">
                    <div class="card"> <!--style="position: fixed;"-->
                        <div class="card-header">
                            <h5>Facial Recognition</h5>
                        </div>
                            <div class="card-body">
                                <!-- Get the username to be used in the labels -->        
                                <input type="text" id="username" value="{{request.user.username}}" hidden>
                                
                                <div class="row" id="video_area">
                                    <video id="video" width="340" height="200" autoplay muted></video>
                                </div>

                                <br>
                                <!-- <div class="alert alert-danger" role="alert"> -->
                                   <div class="row">
                                       <div class="col">
                                            <b>Time Left:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="timer"></span></b>
                                       </div>

                                        <input type="number" value={{exam.max_flags}} id="max_flags" style="border: none; width: 30%;" readonly hidden><br><br>
                                       
                                        <input type="number" value="0" id="flags" style="border: none; width: 20%;" readonly hidden>

                                        <span><b>Action Logs:&nbsp;&nbsp;&nbsp;</b>(Max Flags:&nbsp;{{exam.max_flags}})</span>
                                        
                                        <textarea id="message" style="overflow:auto; width:100%; height: 150; resize: none;" readonly></textarea>
                                        <input type="number" value={{exam.duration_hr}} id="duration_hr" name="duration_hr" hidden readonly><br><br>
                                        <input type="number" value={{exam.duration_min}} id="duration_min" name="duration_hr" hidden readonly><br><br> 
                                   </div>
                                <!-- </div> -->
                            </div>
                    </div>
                </div>

                    <div id="dimscreen"></div>

                    <div class="modal" tabindex="-1" role="dialog" id="reload_exam" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Suspicious Action Alert</h5>
                            </div>
                            <div class="modal-body">
                                <p>You have exceed the number of suspicious actions set by the administrator. Please retake the exam</p>
                            </div>
                            <div class="modal-footer">
                                <!-- {% for exam in exams %}
                                {% for part in parts %} -->
                                <a class="btn btn-secondary" href="../{{exam.exam_id}}/{{part.part_id}}" style="background-color:maroon;">Retake Exam</a>
                                <!-- {% endfor %}
                                {% endfor %} -->
                                <!-- <button name="btnRetake" class="btn btn-primary" id="btnRetake">Retake exam</button> -->
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal" tabindex="-1" role="dialog" id="end_exam" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Time is up!</h5>
                            </div>
                            <div class="modal-body">
                                <p>You run out of time. Please proceed to the results page.</p>
                            </div>
                            <div class="modal-footer">
                                {% for exam in exams %}
                                    {% for part in parts %}
                                    <a class="btn btn-secondary" href="/enrollee/results/{{request.user.id}}/{{exam.exam_id}}" style="background-color:maroon;">Proceed</a>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    {% endfor %}
    {% endfor %}

    <a id="backtotopbutton"><i data-feather="arrow-up"></i></a>
</body>

<!-- Scripts -->
<footer>
    <!-- custom-chart js -->
    <script src="{% static 'assets/js/dashboard/pages/dashboard-sale.js' %}"></script>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP FORM VALIDATION -->
    <script src="{% static 'assets/js/formvalidation.js' %}"></script>

    <!-- Required Js -->
    <script src="{% static 'assets/js/dashboard/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/pcoded.min.js' %}"></script>

    <!-- Page Loader -->
    <!-- <script>
        var myVar;
        
        function myFunction() {
          myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("loading_message").style.display = "none";
          document.getElementById("video_area").style.visibility = 'visible';
        }
    </script> -->

    <!-- Timer -->
    <script>
        // localStorage.clear()
          
        var duration_hr = document.getElementById('duration_hr').valueAsNumber
        var duration_min = document.getElementById('duration_min').valueAsNumber
        var interval;

        // convert the time to raw minutes
        let minutes = (duration_hr*60 + duration_min);

        let currentTime = localStorage.getItem('currentTime');
        let targetTime = localStorage.getItem('targetTime');

        if (targetTime == null && currentTime == null) {
            currentTime = new Date();
            targetTime = new Date(currentTime.getTime() + (minutes * 60000));
            localStorage.setItem('currentTime', currentTime);
            localStorage.setItem('targetTime', targetTime);
        }
        else{
            currentTime = new Date(currentTime);
            targetTime = new Date(targetTime);
        }
    
        if(!checkComplete()){
            interval = setInterval(checkComplete, 1000);
        }
    
        function checkComplete() {
            if (currentTime > targetTime) {
                clearInterval(interval);
                // Resets the timer
                $('#dimscreen').css({
                    "position": "fixed",
                    "padding": "0",
                    "margin":"0",
                    "top": "0",
                    "left": "0",
                    "width": "100%",
                    "height": "100%",
                    "background": "rgba(255,255,255)",
                });

                $('#end_exam').modal('show');
                
            } 
            
            else {
                currentTime = new Date();
                let sec = (targetTime - currentTime) / 1000;
                let hours   = Math.floor(sec / 3600);
                let minutes = Math.floor((sec - (hours * 3600)) / 60);
                let seconds = Math.floor(sec - (hours * 3600) - (minutes * 60));
                
                // Append leading zeroes
                if (hours   < 10) {
                    hours   = "0"+hours;
                }
                if (minutes < 10) {
                    minutes = "0"+minutes;
                }
                if (seconds < 10) {
                    seconds = "0"+seconds;
                }
                
                if (hours >= 0 && minutes >= 0 && seconds >= 0){
                    document.getElementById('timer').innerHTML = hours+" hrs "+minutes+" mins "+seconds+" secs";

                    if (hours == 0 && minutes <= 5 && seconds >=0 ){
                        $('#timer').css({
                            "color": "red",
                        });
                    }
                }

                else{
                    document.getElementById('timer').innerHTML = "Time is up";
                    
                }
            }
        }
    
        document.onbeforeunload = function(){
            localStorage.setItem('currentTime', currentTime);
        }
        
    </script>

    <!-- Back to top button -->
    <script>
        var btn = $('#backtotopbutton');

        $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
        });

        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop:0}, '300');
        });
    </script>

    <!-- Disable going back to previous page -->
    <script>
        (function (global) {

            if(typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // Making sure we have the fruit available for juice (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {
                noBackPlease();

                // Disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
                        e.preventDefault();
                    }
                    // Stopping the event bubbling up the DOM tree...
                    e.stopPropagation();
                };
            }
            })(window);
    </script>

    <!-- Check Devices-->
    <!-- <script>
        if (navigator.mediaDevices && navigator.mediaDevices.enumerateDevices) {
        // Firefox 38+ seems having support of enumerateDevicesx
        navigator.enumerateDevices = function(callback) {
            navigator.mediaDevices.enumerateDevices().then(callback);
        };
    }

    var MediaDevices = [];
    var isHTTPs = location.protocol === 'https:';
    var canEnumerate = false;

    if (typeof MediaStreamTrack !== 'undefined' && 'getSources' in MediaStreamTrack) {
        canEnumerate = true;
    } else if (navigator.mediaDevices && !!navigator.mediaDevices.enumerateDevices) {
        canEnumerate = true;
    }

    var hasMicrophone = false;
    var hasSpeakers = false;
    var hasWebcam = false;

    var isMicrophoneAlreadyCaptured = false;
    var isWebcamAlreadyCaptured = false;

    function checkDeviceSupport(callback) {
        if (!canEnumerate) {
            return;
        }

        if (!navigator.enumerateDevices && window.MediaStreamTrack && window.MediaStreamTrack.getSources) {
            navigator.enumerateDevices = window.MediaStreamTrack.getSources.bind(window.MediaStreamTrack);
        }

        if (!navigator.enumerateDevices && navigator.enumerateDevices) {
            navigator.enumerateDevices = navigator.enumerateDevices.bind(navigator);
        }

        if (!navigator.enumerateDevices) {
            if (callback) {
                callback();
            }
            return;
        }

        MediaDevices = [];
        navigator.enumerateDevices(function(devices) {
            devices.forEach(function(_device) {
                var device = {};
                for (var d in _device) {
                    device[d] = _device[d];
                }

                if (device.kind === 'audio') {
                    device.kind = 'audioinput';
                }

                if (device.kind === 'video') {
                    device.kind = 'videoinput';
                }

                var skip;
                MediaDevices.forEach(function(d) {
                    if (d.id === device.id && d.kind === device.kind) {
                        skip = true;
                    }
                });

                if (skip) {
                    return;
                }

                if (!device.deviceId) {
                    device.deviceId = device.id;
                }

                if (!device.id) {
                    device.id = device.deviceId;
                }

                if (!device.label) {
                    device.label = 'Please invoke getUserMedia once.';
                    if (!isHTTPs) {
                        device.label = 'HTTPs is required to get label of this ' + device.kind + ' device.';
                    }
                } else {
                    if (device.kind === 'videoinput' && !isWebcamAlreadyCaptured) {
                        isWebcamAlreadyCaptured = true;
                    }

                    if (device.kind === 'audioinput' && !isMicrophoneAlreadyCaptured) {
                        isMicrophoneAlreadyCaptured = true;
                    }
                }

                if (device.kind === 'audioinput') {
                    hasMicrophone = true;
                }

                if (device.kind === 'audiooutput') {
                    hasSpeakers = true;
                }

                if (device.kind === 'videoinput') {
                    hasWebcam = true;
                }

                // there is no 'videoouput' in the spec.

                MediaDevices.push(device);
            });

            if (callback) {
                callback();
            }
        });
    }

    // check for microphone/camera support!
    checkDeviceSupport(function() {
        hasWebcam, 
        isWebcamAlreadyCaptured
    });
    </script> -->
    
    <!-- Inactive Tab Checker-->
    <script>
        var totalFlags = 0;
        var oldFlagVal = document.getElementById('flags').value;
        var newFlagVal = 0;

        setInterval (() => {
            // let flags = document.getElementById('flags').value;
            // console.log("test flags", flags)
            // if(flags) updateFlags();
            let newFlagVal = document.getElementById('flags').value;
            
            if(oldFlagVal != newFlagVal){
                oldFlagVal = newFlagVal;
                updateTotalFlags();
                disableExam(message="Unknown face in video");
            }
        },50)

        function updateTotalFlags(){
            this.totalFlags++;
        }

        function disableExam(message){
            var dt = new Date().toLocaleTimeString();
            var max_flags = document.getElementById('max_flags').value;
            // var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            
            if (this.totalFlags < max_flags){
                var style = $('#message').append("["+dt+"]"+"   "+message+"&#13;&#10;")
                // $('#totalFlags').val(totalFlags)
            }
            else{
                $('#dimscreen').css({
                    "position": "fixed",
                    "padding": "0",
                    "margin":"0",
                    "top": "0",
                    "left": "0",
                    "width": "100%",
                    "height": "100%",
                    "background": "rgba(255,255,255)",
                });
                $("#reload_exam").modal('show');
            }
        }

        $(window).on("blur focus", function(e) {
            var prevType = $(this).data("prevType");

            if (prevType != e.type) {   //  reduce double fire issues
                switch (e.type) {
                    case "blur":
                        updateTotalFlags();
                        disableExam(message="Inactive exam tab");
                    
                        break;
                    case "focus":
                        // $('#message').text("Focused");
                        break;
                }
            }
                

            $(this).data("prevType", e.type);
        })
    </script>

</footer>

</html>
