{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="../enrollee/details"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          
          <div class="ml-auto">
            <div class="list-unstyled">
              <div class="dropdown pc-h-item">
                <a class="pc-head-link mr-0"   href="../enrollee/logout" role="button" aria-haspopup="false" aria-expanded="false" style="font-family: Montserrat, sans-serif;">
                    <span class="user-name">Logout</span>
                </a>
              </div>
            </div>
          </div>
          
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-3 order-2 order-lg-3 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Welcome <span style="color:#741E1E"> {{user.first_name}}!</span></h1>
            <h2>You are one step away from becoming an official student of CIT - University!</h2>

          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
          <img src="{% static 'assets/img/citstudents.jpg' %}" class="img-fluid" alt="" style="margin-bottom: 50px;">
        </div>
      </div>
    </div>
    

<!-- value="{{user.first_name}} value="{{user.last_name}} -->

  </section><!-- End Hero -->

  
  <main id="main">

    <!-- ======= Form Section ======= -->
    <section class="section-enrollee" style="padding-bottom: 0;">
      <div class="container" >
        <div class="row">
          <div class="col-md-12 ">
            <div class="left-content">
                <center><h2>Before we Proceed</h2></center>
                <p>Double check the details below. If there’s something wrong, contact your enrollment officer.</p>
                <section class="sec">

                  {% for enrollee in enrollees %}
                  <!-- First Name -->
                  <div class="form-floating mb-3">
                    <input type="text" name="firstname" class="form-control" id="floatingInput" value="{{user.first_name}}" readonly>
                    <label for="floatingInput">First Name</label>
                  </div>
                  
                  <!-- Middle Name -->
                  <div class="form-floating mb-3">
                    {% if enrollee.middle_name != '' or enrollee.middle_name is None  %}
                      <input type="text" name="middlename" class="form-control" id="floatingInput" value="{{enrollee.middle_name}}" readonly>
                      <label for="floatingInput">Middle Name</label>
                    {% else %}
                      <input type="text" class="form-control" id="floatingInput1" value="-" readonly>
                      <label for="floatingInput1">Middle Name</label>
                    {% endif %}
                  </div>
                  
                  <!-- Last Name -->
                  <div class="form-floating mb-3">
                    <input type="text" name="lastname" class="form-control" id="floatingInput" value="{{user.last_name}}" readonly>
                    <label for="floatingInput">Last Name</label>
                  </div>
                  
                  <!-- Email -->
                  <div class="form-floating mb-3">
                    <input type="text" name="email" class="form-control" id="floatingInput" value="{{user.email}}" readonly>
                    <label for="floatingInput">Email</label>
                  </div>

                  <!-- Address -->
                  <div class="form-floating mb-3">
                    <input type="text" name="address" class="form-control" id="floatingInput" value="{{enrollee.address}}" readonly>
                    <label for="floatingInput">Address</label>
                  </div>

                  <!-- Program/Strand -->
                  <div class="form-floating mb-3">
                    {% if enrollee.strand is None and enrollee.program is not None %}
                    <input type="text" name="program" class="form-control" id="floatingProgram" value="{{enrollee.program.program_name}} ({{enrollee.enrolled_as}})" readonly>
                    <label for="floatingProgram">Program</label>
                    
                    {% elif enrollee.strand is not None and enrollee.program is None %}
                    <input type="text" name="strand" class="form-control" id="floatingProgram" value="{{enrollee.strand.strand_name}} ({{enrollee.enrolled_as}})" readonly>
                    <label for="floatingProgram">Strand</label>
                    
                    {% else %}
                      {% if enrollee.level == 'elem' %}
                      <input type="text" name="level" class="form-control" id="floatingProgram" value="Elementary ({{enrollee.enrolled_as}})" readonly>
                      <label for="floatingProgram">Level</label>

                      {% else %}
                      <input type="text" name="level" class="form-control" id="floatingProgram" value="Junior High School ({{enrollee.enrolled_as}})" readonly>
                      <label for="floatingProgram">Level</label>
                      {% endif %}
                    {% endif %}

                  </div>
                  
                  <!-- Button -->
                  <center>
                    <div style="padding-top: 30px;">
                      <a class="btn btn-secondary" href="../enrollee/terms" style="background-color: maroon; width: 300px; height: 40px; border-radius: 10px;">Confirm</a>
                    </div>
                  </center>
                  <!-- <center>
                    <a href="../enrollee/terms">
                    <button class="btn btn-secondary" style="background-color:#741E1E; width: 150px; height: 40px;">Confirm Details</button>
                  </center> -->
                    <!-- </a> -->
                  {% endfor %}
                </section>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->

     <!-- ======= Details Section ======= 
     <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/citstudents1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4">
            <h3>THE ADMISSION EXAM</h3>
            <p class="fst-italic">
              The examination, spearheaded by the CIT University Guidance Center, will be divided into three parts:
            </p>
            <p>
              The admission exam will be administered only once you have processed the previous requirement.
              If you're already ready to take the exam, click the button below <br><br>
              <a class="btn btn-primary mr-0 pl-5 pr-5" href="../enrollee/terms">Get Started</a>
              
            </p>
          </div>
        </div>
      </div>
    </div>

  
  </section>    
  <!-- End Details Section -->
  -->

    

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/multistep.js' %}"></script>
  <script type="text/javascript">
  
    $(document).ready(function(){

    $('#smartwizard').smartWizard({
    selected: 0,
    autoAdjustHeight:true,
    transitionEffect:'fade',
    showStepURLhash: false,
    
    });
    
    });

  </script>

</body>

</html>