{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Instructions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="../enrollee/instructions"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <div class="ml-auto">
            <div class="list-unstyled">
              <div class="dropdown pc-h-item">
                <a class="pc-head-link mr-0"   href="../enrollee/logout" role="button" aria-haspopup="false" aria-expanded="false" style="font-family: Montserrat, sans-serif;">
                    <span class="user-name">Logout</span>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header>
  <!-- End Header -->




    
  <!-- Part 1 -->
  <section class="section" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="left-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11 col-sm-13 col-md-13 col-lg-12 col-xl-11 text-center p-0 mt-3 mb-2">
                  <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <br><br>
                    <form id="msform">
                      <!-- Message Loader -->
                    {% for message in messages %}
                    <div class="alert {{message.tags}}" role="alert" style="text-align: left;">
                      {{ message }}
                    </div>
                    {% endfor %}
                      <!-- progressbar -->
                      <ul id="progressbar">
                          <li  id="account"><strong>Terms and Conditions</strong></li>
                          <li  id="personal"><strong>Data Privacy Policy</strong></li>
                          <li id="payment"><strong>Capture Images</strong></li>
                          <li id="facerec"><strong>Facial Recognition Test</strong></li>
                          <li  class="active" id="confirm"><strong>Instructions</strong></li>
                      </ul>
                     <br>   

                    <!-- fieldsets -->              
                    <fieldset>
                      <div class="form-card">
                        <div class="row">
                          <div class="col">
                            <h2 class="fs-title">Instructions</h2>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p style="text-align: justify; font-weight: 500;">General Instructions:</p>
                              <ol>
                                <li>This exam is <b>time-limited.</b> Make sure you are prepared before starting the exam.</li>
                                <li>Ensure you have a stable connection before answering.</li>
                                <li>Make sure you are in a well-lit and distraction-free area while taking the exam.</li>
                                <li>For the duration of the exam, make sure your camera is functioning for the <b>facial recognition system.</b> </li>
                                <li>Position yourself right in front of the camera. Make sure you are recognized by the facial recognition system.</b> </li>
                                <li>The system will warn or flag you when the following suspicious actions are detected: <b>(1) an unknown face is recognized by the system (2) when the system detects tab changing.</b> Avoid doing the mentioned actions.</b> </li>
                                <li>After the maximum flags has been reached, you will be forced to restart the exam with the remaining time you have.</li>
                                <li>Contact your enrollment officer when a problem arises.</li>
                                
                              </ol>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p style="text-align: justify; font-weight: 500;">Exam Details:</p>
                                <ol>
                                  <li><b>Exam Parts:</b></li>
                                    {% for part in parts %}
                                      <ul>
                                        <li><strong>{{part.part_name}}</strong>&nbsp;(Total Items: {{part.total_items}}, Total Points:&nbsp;{{part.overall_points}})</li>
                                      </ul>
                                    {% endfor %}
                                    {% for exam in exams %}
                                      <li><b>Maximum flags:</b>&nbsp;&nbsp;&nbsp;{{exam.max_flags}}</li>
                                      <li><b>Duration:</b>&nbsp;&nbsp;&nbsp;{{exam.duration_hr}} hr/s {{exam.duration_min}} mins</li>
                                    {% endfor %}

                                </ol>
  
                                <!-- <h6 class="maroon-text" style="padding-top: 10px;"><strong>{{part.part_name}}</strong></h6>
                                <p align="justify">Instructions: {{part.instructions}}</p>
                                <p align="justify">Duration: </p>
                                <p align="justify">Total Items: {{part.total_items}}</p>
                                <p align="justify">Total Points: {{part.overall_pooints}}</p> -->
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          
                        </div>
                        <br>
                        
                        
                        <!-- Buttons -->
                        <div style="float: right;">
                          <a class="btn btn-secondary" href="../enrollee/captureimage" style="background-color: gray; width: 150px; height: 40px;">Previous</a>   
                          {% for exam in exams %}
                            {% for part in parts %}
                              {% if forloop.first %} <!-- Outputs only the first 'part' outputted from the loop. -->
                                <!-- Redirect to the url passing the exam and part id -->
                                <a class="btn btn-secondary" href="../enrollee/exam/{{exam.exam_id}}/{{part.part_id}}" style="background-color: maroon; width: 150px; height: 40px;">Proceed</a>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/multistep.js' %}"></script>




</body>

</html>