{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Capture Image</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- font css -->
  <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a href="../enrollee/captureimage"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
        </div>

        <!-- .navbar -->
        <nav id="navbar" class="navbar">
        <ul>
            <div class="ml-auto">
                <div class="list-unstyled">
                    <div class="dropdown pc-h-item">
                        <a class="pc-head-link mr-0"   href="../enrollee/logout" role="button" aria-haspopup="false" aria-expanded="false" style="font-family: Montserrat, sans-serif;">
                        <span class="user-name">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </ul>
        </nav>
        <!-- End navbar -->

    </div>
</header>
<!-- End Header -->

    
    <!-- Part 1 -->
    <section class="section" data-section="section5">
        <div class="container">
        <div class="row">
            <div class="col-md-12 ">
            <div class="left-content">
                <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-11 col-sm-13 col-md-13 col-lg-12 col-xl-11 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                      <br><br>
                      <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li  id="account"><strong>Terms and Conditions</strong></li>
                            <li  id="personal"><strong>Data Privacy Policy</strong></li>
                            <li class="active"id="payment"><strong>Capture Images</strong></li>
                            <li id="facerec"><strong>Facial Recognition Test</strong></li>
                            <li  id="confirm"><strong>Instructions</strong></li>
                        </ul>
                       <br> 
                       </form>

                    <!-- fieldsets -->
                      <fieldset>
                          <div class="form-card">
                              <div class="row">
                                <div class="col">
                                  
                                  <!-- Camera Area -->
                                  <div id="camera" style="width:480px; height: 360px; border: 1px solid black; margin: auto"></div><br>
                                  <!-- Capture Image/Snapshot -->
                                  <div id="pre_take_buttons" style="display: flex; justify-content: center; align-items: center;">
                                    <button class="btn btn-outline-info" type="button" onClick="preview_snapshot()">Capture</button>
                                  </div>
                                  <!-- <p id="ins" style="display: none; justify-content: center; align-items: center;">Upload Captured Image. <b>Do not rename the file.</b> </p><br> -->
                                  
                                  <!-- Save and Download Image-->
                                  <div id="post_take_buttons" style="display: none; justify-content: center; align-items: center;">
                                    
                                    <button class="btn btn-outline-secondary" type="button" onClick="cancel_preview()">Take Another</button>
                                    <button class="btn btn-outline-info" type="button" onClick="save_photo()">Save and Download</button>  
                                    
                                    
                                    <!-- Get the username to be used in the file name -->        
                                    <input type="text" id="username" value="{{request.user.username}}" hidden>
                                  </div><br>
                                  
                                  
                                    <!-- File Input Field -->
                                    <div class="mb-3" id="image_field" style="display: none; justify-content: center; align-items: center;">
                                      <form method="POST" action = "" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="picture" class="form-label">Save and upload captured Image. <b>Note the following:</b>
                                          <ul>
                                            <li>Do not change the main file name (filename: username).</li>
                                            <li>Remove any instance number in the image before uploading. (e.g. username <b><u>(2)</u></b>).</li>
                                            <li>Do not change the file type.</li> 
                                          </ul>
                                        </label>
                                        <input type="file" class="form-control-file" id="picture" name="picture" accept="image/png, image/gif, image/jpeg" required>
                                    </div>
                                </div>
                              </div> 
                            
                          </div> 
                          <br><br>
                          
                          <!-- Buttons -->
                          <div style="float: right;">
                            <a class="btn btn-secondary" href="../enrollee/datapolicy" style="background-color: gray; width: 150px; height: 40px;">Previous</a>
                            <button type="submit" class="btn btn-secondary" name="btnNext" style="background-color: maroon; width: 150px; height: 40px;">Next</button><br><br>
                            
                            <!-- <a class="btn btn-secondary" href="../enrollee/face-recognition" style="background-color: maroon; width: 150px; height: 40px;">Next</a> -->
                            
                            <!-- <button type="submit" class="btn btn-secondary" name="btnNext" style="background-color: maroon; width: 150px; height: 40px;">Next</button> -->
                          </div>
                        </form>

                      </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

  <!-- <script>
    const picture = document.getElementById("picture");
    // const previewContainer = document.getElementById("imagePreview");
    // const previewImage = previewContainer.querySelector(".image-preview__image");
    // const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

    picture.addEventListener("change", function() {
        const file = this.files[0];

        if (file){
            const reader = new FileReader();

            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";

            reader.addEventListener("load", function() {
                console.log(this);
                previewImage.setAttribute("src", this.result);
            });

            reader.readAsDataURL(file);
        }
    });
  </script> -->
  <!-- Webcam JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js" integrity="sha512-AQMSn1qO6KN85GOfvH6BWJk46LhlvepblftLHzAv1cdIyTWPBKHX+r+NOXVVw6+XQpeW4LJk/GTmoP48FLvblQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Webcam JS Image Capture-->
  <script language="JavaScript">
    Webcam.set({
			width: 480,
			height: 360,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#camera' );

    function preview_snapshot() {
			// freeze camera so user can preview pic
			Webcam.freeze();
			
			// swap button sets
			document.getElementById('pre_take_buttons').style.display = 'none';
			document.getElementById('post_take_buttons').style.display = 'flex';
      document.getElementById('image_field').style.display = 'flex';
      // document.getElementById('ins').style.display = 'flex';

		}
		
		function cancel_preview() {
			// cancel preview freeze and return to live camera feed
			Webcam.unfreeze();
			
			// swap buttons back
			document.getElementById('pre_take_buttons').style.display = 'flex';
			document.getElementById('post_take_buttons').style.display = 'none';
      document.getElementById('image_field').style.display = 'none';
      // document.getElementById('ins').style.display = 'none';

		}
		
		function save_photo() {
			// actually snap photo (from preview freeze) and display it
			Webcam.snap( function(data_uri) {
        downloadImage = function (name, datauri) {
          var a = document.createElement('a');
          a.setAttribute('download', name + '.jpg');
          a.setAttribute('href', datauri);
          a.click();
        }

        username = document.getElementById('username').value;
        downloadImage(username, data_uri);

        // display results in page
				document.getElementById('results').innerHTML = '<img src="'+data_uri+'"/>';

				// do not swap buttons back
				document.getElementById('pre_take_buttons').style.display = 'none';
        
				// document.getElementById('post_take_buttons').style.display = '';
			} );
		}
   
  </script>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>