{% load static %}

<head>
    <title>Exam Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/style.css' %}" id="main-style-link">

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
  
  <!-- [ Mobile header ] start -->
  <div class="pc-mob-header pc-header">
    <div class="pcm-logo">
      <img src="{% static 'assets/images/logo.png' %}" alt="" class="logo logo-lg">
    </div>
    <div class="pcm-toolbar">
      <a href="#!" class="pc-head-link" id="mobile-collapse">
        <div class="hamburger hamburger--arrowturn">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </a>
      <a href="#!" class="pc-head-link" id="header-collapse">
        <i data-feather="more-vertical"></i>
      </a>
    </div>
  </div>
  <!-- [ Mobile header ] End -->

  <!-- [ navigation menu ] start -->
  <nav class="pc-sidebar ">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="index.html" class="b-brand">
          <img src="{% static 'assets/img/logotype with favicon.png' %}" alt="" class="logo logo-sm">
        </a>
      </div>
      <div class="navbar-content">    
                <br><br>
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Examination</label>
					</li>

          {% for part in parts %}     
					<li class="pc-item disabled">
						<a href="" class="pc-link"><span class="pc-micon">
              <span class="pc-micon">
                <i class="material-icons-two-tone">assignment</i>
              </span>
              <span class="pc-mtext">{{part.part_name}}</span></a>
					</li>
          {% endfor %} 

          {% for exam in exams %}
					<li class="pc-item pc-caption">
						<label>Results</label>
					</li>
          <li class="pc-item active ">
						<a href="/enrollee/results/{{request.user.id}}/{{exam.exam_id}}" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">check</i></span><span class="pc-mtext">Results</span></a>
					</li>
          {% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->

  <!-- [ Header ] start -->
  <header class="pc-header ">
    <div class="header-wrapper">

      <div class="ml-auto">
        <ul class="list-unstyled">
          <li class="dropdown pc-h-item">
            <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <img src="{% static 'assets/img/dashboard/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar">
              <span>
                <span class="user-name"></span>
                <span class="user-desc">{{user.first_name}} {{user.last_name}}</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                 <!--            <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">support</i>
                <span>Support</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">settings</i>
                <span>Settings</span>
              </a> -->
              <a href="/enrollee/logout" class="dropdown-item">
                <i class="material-icons-two-tone">chrome_reader_mode</i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </header>
  <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
    
        <!-- INSTRUCTIONS start -->

        <div class="row">
            <!-- QUESTIONS start -->
            <div class="col-sm-7">
				<div class="card">
						<div id="carouselExampleDark" class="carousel carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleDark" data-slide-to="1"></li>
								<li data-target="#carouselExampleDark" data-slide-to="2"></li>
							</ol>
              
							<div class="carousel-inner">
                {% for result in results %}
								<div class="carousel-item active">
									<img class="img-fluid d-block w-100" src="{% static 'assets/img/citstudents1.png' %}" alt="First slide">
									<div class="carousel-caption d-none d-md-block">
                                        <h3 style="color: white; ">You Passed!</h3>
                                        <h1 style="color: white; font-size: 120px;">{{result.total_score}}</h1>
									</div>
								</div>
                {% endfor %}
								<!-- <div class="carousel-item">
									<img class="img-fluid d-block w-100" src="{% static 'assets/img/citstudents1.png' %}" alt="Second slide">
									<div class="carousel-caption d-none d-md-block">
                                        <h3 style="color: white; ">You Passed!</h3>
                                        <h1 style="color: white; font-size: 120px;">{{result.total_score}}</h1>

									</div>
								</div>
								<div class="carousel-item">
									<img class="img-fluid d-block w-100" src="{% static 'assets/img/citstudents1.png' %}" alt="Third slide">
									<div class="carousel-caption d-none d-md-block">
                                        <h3 style="color: white; ">You Passed!</h3>
										<h1 style="color: white; font-size: 120px;">{{result.total_score}}</h1>

									</div>
								</div>-->
							</div>
              
							<a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
							<a class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
					</div>
				</div>

                
                
                <div class="card">
                    <div class="card-body">
                        <p style="font-weight: 500;"> Top 3 Programs Based on your Skills</p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text">  
                                    <input class="form-check-input" type="radio" value="" name="radio" disabled>
                                </div>
                                <input type="text" class="form-control" disabled >
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-text">  
                                    <input class="form-check-input" type="radio" value="" name="radio" disabled>
                                </div>
                                <input type="text" class="form-control" disabled >
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-text">  
                                    <input class="form-check-input" type="radio" value="" name="radio" disabled>
                                </div>
                                <input type="text" class="form-control" disabled >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    
                    <div class="card-body">
                        <h2>Contact your enrollment officer to proceed
                            to the next level of enrollment.</h2>

                    </div>
                </div>


            </div>

            <div class="col-sm-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Score Breakdown</h5>
                        </div>
                        {% for result in results %}
                        <div class="card-body" style="background-color: wheat;">
                            <dl class="dl-horizontal row">
                              {% for part in parts %}
                                <dt class="col-sm-9 ">{{part.part_name}}</dt>
                                <dd class="col-sm-3">{{result.total_score}}/{{part.overall_points}}</dd>
                              {% endfor %}
                                <hr>
                              {% for exam in exams %}
                                <dt class="col-sm-9 ">Overall Total Score</dt>
                                <dd class="col-sm-3">{{result.total_score}}/{{exam.overall_points}}{{score}}</dd>
                              {% endfor %}
                            </dl>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="card">
					<div class="card-header">
						<h5>Skills</h5>
					</div>
					<div class="card-body" style="background-color: wheat;">
                        <dt class="col-sm-9 ">Logical Reasoning</dt>
						<div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">33%</div>
						</div>
                        <dt class="col-sm-9 ">Critical Thinking</dt>
						<div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">88%</div>
						</div>
                        <dt class="col-sm-9 ">Verbal Comprehension</dt>
                        <div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">81%</div>
						</div>
                        <dt class="col-sm-9 ">Analytical Skill</dt>
                        <div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 56%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">56%</div>
						</div>
                        <dt class="col-sm-9 ">Mathematical Skill</dt>
                        <div class="progress mb-4">
							<div class="progress-bar" role="progressbar" style="width: 41%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">41%</div>
						</div>
                        

					</div>
				</div>

                <div class="col-sm-15">
                    <div class="card">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="img-fluid d-block w-100" src="{% static 'assets/img/citstudents1.png' %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 style="color: white;">You Placed</h5>
                                            <h1 style="color: white;">3rd</h1>
                                            <p>Among 326 Takers<br>
                                            Congratulations!</p>
                                        </div>
                                    </div>
  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                

            </div>
        </div>


        <!-- [ Main Content ] end -->
    </div>

    <!-- Required Js -->
    <script src="{% static 'assets/js/dashboard/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/pcoded.min.js' %}"></script>
    
    <!-- Disable going back to previous page -->
    <script>
      (function (global) {

          if(typeof (global) === "undefined") {
              throw new Error("window is undefined");
          }

          var _hash = "!";
          var noBackPlease = function () {
              global.location.href += "#";

              // Making sure we have the fruit available for juice (^__^)
              global.setTimeout(function () {
                  global.location.href += "!";
              }, 50);
          };

          global.onhashchange = function () {
              if (global.location.hash !== _hash) {
                  global.location.hash = _hash;
              }
          };

          global.onload = function () {
              noBackPlease();

              // Disables backspace on page except on input fields and textarea..
              document.body.onkeydown = function (e) {
                  var elm = e.target.nodeName.toLowerCase();
                  if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
                      e.preventDefault();
                  }
                  // Stopping the event bubbling up the DOM tree...
                  e.stopPropagation();
              };
          }
          })(window);
    </script>

<!-- custom-chart js -->
<script src="{% static 'assets/js/dashboard/pages/dashboard-sale.js' %}"></script>
</body>

</html>
