{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon icon -->
  <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/animation.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="../enrollee/home"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <div class="logo">
            <img src="{% static 'assets/img/citlogotype.png' %}" alt="" class="img-fluid">
          </div>
          <div class="logo">
            <img src="{% static 'assets/img/citlogo.png' %}" alt="" class="img-fluid">
          </div>
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 order-2 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'assets/img/laptop-img.png' %}" class="img-fluid animated" alt="">
        </div>
        <div class="col-lg-7 pt-5 pt-lg-0 order-1 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <br>
            <h1>READY FOR <span>SCHOOL?</span></h1>
            <h2>Take the Admission Exams at the comfort of your homes!</h2>
            <p>EURIQA is a web-based IQ test system to be used as an online entrance exam tool 
              for Cebu Institute of Technology – University Guidance Center. EURIQA  
              will ensure efficient and convenient exam venue for the students who would want to 
              enroll in the university.</p>

            <div class="text-center text-lg-start">
              
              <a href="#about" class="btn-get-started scrollto">Learn More <i class="bx bx-help-circle icon-help"></i></a>
              <a href="../enrollee/login" class="btn-get-started scrollto">Take me to the Exam <i class="bx bx-right-arrow-alt"></i></a>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>


    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>

  </section>
  <!-- End Intro -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/embed/zPZ8R7-Ib_k" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
          </div>
          
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>ABOUT THE EXAM</h3>
            <p>The Admission Exam will determine whether a student is eligble to enter Cebu Institute of Technology - University. This will be done
              with facial recognition to ensure that the exam maintains its credibility and ensure that the results of the examination comes from the
              taker himself/herself.
            </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bxs-face"></i></div>
              <h4 class="title"><a href="">Facial Recognition Technology</a></h4>
              <p class="description">The Facial Recognition Technology ensures a secured examination procedure and allows proper checking of students</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bxs-user-check"></i></div>
              <h4 class="title"><a href="">Security Data Checking</a></h4>
              <p class="description">The exam includes security checking systems that prompts your computer to do certain tasks while taking the exam.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-stopwatch"></i></div>
              <h4 class="title"><a href="">Time Allotment</a></h4>
              <p class="description">The exam will run based on the time alloted. Once the exam starts the security systems will function accordingly.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Levels Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Program Offerings</h2>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Elementary</h4>
                <span>Grades 4 - 6</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Junior High School</h4>
                <span>Grades 7 - 10</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Senior High School</h4>
                <span>Grades 11 and 12</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>College</h4>
                <span>Freshmen</span>
              </div>
            </div>
          </div>

        </div><br><br>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bxs-info-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-1">About The School<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The year 1946 was ushered in by dazzling rays of hope for peace, progress and freedom after the Philippines 
                  was devastated by the ravages of World War II. Through the vision and foresight of the eminent physician Dr. 
                  Nicolas G. Escario, Sr., he founded the present prestigious institution of learning in Cebu, the Cebu Institute 
                  of Technology – University formerly Cebu Institute of Technology. Dr. Escario’s initiative, and in collaboration 
                  with three illustrious Cebuano technocrats: Engr. Fidel C. Dagani, Engr. Amancio A. Alcordo and Engr. Jose A. 
                  Cavan, prepared the groundwork for the establishment of the institution. The proposal for the academic venture 
                  convinced the then CIT Board of Trustees of its feasibility and wisdom of opening an engineering school. 
                  The project reached its final stage when Don Simplicio A. Lizares, Sr. was elected as CIT’s first Chairman of 
                  the Board of Trustees, Dr. Nicolas G. Escario, Sr., as President and Don Rodolfo T. Lizares, Sr. as Vice President 
                  who pooled their resources to put up the required facilities and services of the institution.
                  <br><br>
                  The Cebu Institute of Technology now Cebu Institute of Technology – University opened in 1946 with two pre-fabricated 
                  structures in F. Ramos Street. The school started with 512 pioneering students enrolled in high school and college levels. 
                  It offered the following degree programs: Civil Engineering, Mechanical Engineering, Electrical Engineering, Chemical 
                  Engineering, Architecture and Vocational programs. In tune with the objective of the higher education to answer the needs 
                  of the time and to complement the technical programs offered, the first non-technical program offered was the Liberal Arts 
                  in 1947, Pharmacy and Junior Normal programs in 1948 and Education in 1949. The Vocational department was phased out in 
                  1951 while the College of Commerce was opened in the same year. Two years later, in 1953, the Sanitary Engineering department
                  started. To meet the demands of the growing society, other programs were offered such as Pre-medicine in 1957 and Secretarial
                  in 1958.

                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bxs-info-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Program Offerings<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Cebu Institute of Technology University offers the following program: <br>
                  <br>  ELEMENTARY EDUCATION
                  <br>  JUNIOR HIGH SCHOOL EDUCATION
                  <br>  SENIOR HIGH SCHOOL
                  <br>  COLLEGE EDUCATION       
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bxs-info-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Colleges<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Cebu Institute of Technology University consist of the following Colleges: <br>
                  <br>  ELEMENTARY EDUCATION
                  <br>  JUNIOR HIGH SCHOOL EDUCATION
                  <br>  SENIOR HIGH SCHOOL
                  <br>  COLLEGE EDUCATION       
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bxs-info-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">School Website<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                Visit the Official Website of Cebu Institute of Technology University at <a href="https://cit.edu/" style="color: black;"> https://cit.edu/ </a>
                </p>
              </div>
            </li>
            

          </ul>
        </div>

      </div>
    </section>
    <!-- End Team Section -->




    

  </main>
  <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">       
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->

    

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!--Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>