{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Face Recognition Test</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Face Recognition -->
  <script defer src="{% static 'facerec_assets/js/face-api.min.js' %}"></script>
  <script defer src="{% static 'facerec_assets/js/main.js' %}"></script>

  <style>
    #video_area{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    canvas {
        position: absolute;
    }

    
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="../enrollee/instructions"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <div class="ml-auto">
            <div class="list-unstyled">
              <div class="dropdown pc-h-item">
                <a class="pc-head-link mr-0"   href="../enrollee/logout" role="button" aria-haspopup="false" aria-expanded="false" style="font-family: Montserrat, sans-serif;">
                    <span class="user-name">Logout</span>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- Part 1 -->
  <section class="section" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="left-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                  <br><br>
                  <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li id="account"><strong>Terms and Conditions</strong></li>
                        <li id="personal"><strong>Data Privacy Policy</strong></li>
                        <li id="payment"><strong>Capture Images</strong></li>
                        <!-- <li><strong>Instructions</strong></li> -->
                        <li class="active" id="confirm"><strong>Face Recognition Test</strong></li>

                    </ul>
                   <br> 
                   <!-- Face Recognition video Area -->
                    <div class="row" id="video_area">
                      <video id="video" width="720" height="560" autoplay muted></video>
                    </div>
                    <div id="sample">
                      
                    </div>
                    <!-- fieldsets -->              
                    <fieldset>
                      <div class="form-card">
                        
                        <br>

                        <!-- Buttons -->
                        <div style="float: right;">
                          <a class="btn btn-secondary" href="../enrollee/captureimage" style="background-color: gray; width: 150px; height: 40px;">Previous</a>   
                          {% for exam in exams %}
                            {% for part in parts %}
                              {% if forloop.first %} <!-- Outputs only the first 'part' outputted from the loop. -->
                                <!-- Redirect to the url passing the exam and part id -->
                                <a class="btn btn-secondary" href="../enrollee/exam/{{exam.exam_id}}/{{part.part_id}}" style="background-color: maroon; width: 150px; height: 40px;">Proceed</a>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    </div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/multistep.js' %}"></script>
<!-- <script type="text/javascript">

$(document).ready(function(){

$('#smartwizard').smartWizard({
selected: 0,
autoAdjustHeight:true,
transitionEffect:'fade',
showStepURLhash: false,

});

});

</script> -->

</body>

</html>