{% load static %}

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/dashboard/favicon.svg' %}" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/dashboard/style.css' %}" id="main-style-link">

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
  <!-- [ Mobile header ] start -->
  <div class="pc-mob-header pc-header">
    <div class="pcm-logo">
      <img src="{% static 'assets/images/logo.png' %}" alt="" class="logo logo-lg">
    </div>
    <div class="pcm-toolbar">
      <a href="#!" class="pc-head-link" id="mobile-collapse">
        <div class="hamburger hamburger--arrowturn">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </a>
      <a href="#!" class="pc-head-link" id="header-collapse">
        <i data-feather="more-vertical"></i>
      </a>
    </div>
  </div>
  <!-- [ Mobile header ] End -->

  <!-- [ navigation menu ] start -->
  <nav class="pc-sidebar ">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="index.html" class="b-brand">
          <img src="{% static 'assets/img/logotype with favicon.png' %}" alt="" class="logo logo-sm">
        </a>
      </div>
      <div class="navbar-content">    
                <br><br>
        <ul class="pc-navbar">
          <li class="pc-item pc-caption">
            <label>Navigation</label>
          </li>
          <li class="pc-item">
            <a href="index.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Home</span></a>
          </li>

          <li class="pc-item">
            <a href="icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">history_edu</i></span><span class="pc-mtext">Profile</span></a>
          </li>
          <li class="pc-item pc-caption">
            <label>Exam Management</label>
            <span>Examination Settings</span>
          </li>
          <li class="pc-item">
            <a href="chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Examinations</span></a>
          </li>
          <li class="pc-item">
            <a href="map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">my_location</i></span><span class="pc-mtext">Data </span></a>
          </li>
          <li class="pc-item pc-caption">
            <label>Enrollee Registration</label>
            <span>Enrollee Registration Settings</span>
          </li>
          <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Registration</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
              <li class="pc-item"><a class="pc-link" href="auth-signup.html" target="_blank">Add Enrollee</a></li>
              <li class="pc-item"><a class="pc-link" href="auth-signin.html" target="_blank">Manage Enrollee</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- [ navigation menu ] end -->

  <!-- [ Header ] start -->
  <header class="pc-header ">
    <div class="header-wrapper">

      <div class="ml-auto">
        <ul class="list-unstyled">
          <li class="dropdown pc-h-item">
            <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <img src="{% static 'assets/img/dashboard/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar">
              <span>
                <span class="user-name"></span>
                <span class="user-desc">Administrator</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">support</i>
                <span>Support</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">settings</i>
                <span>Settings</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="material-icons-two-tone">chrome_reader_mode</i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </header>
  <!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
    < class="pc-container">
        <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>PART 1. GENERAL KNOWLEDGE</h5>
                    </div>      
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>

                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-primary">
                            <div class="align-items-center">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Checkbox & Radio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with checkbox">
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="radio" value="" aria-label="Radio button for following text input">
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with radio button">
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Reset</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Input Group Sizing</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary">
                            <div class="media align-items-center">
                                <i class="feather icon-alert-circle h2"></i>
                                <div class="media-body ml-3">
                                    Add sizing class <code>.input-group-sm, .input-group-lg</code>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Small</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-text">Default</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">Large</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Input Group Options</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-primary">
                            <div class="media align-items-center">
                                <i class="feather icon-alert-circle h2"></i>
                                <div class="media-body ml-3">
                                    Input Group with more options like Button, Button with Dropdown, Colors, Checkbox & with Radio
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">With Button</label>
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button">Button</button>
                                <input type="text" class="form-control" placeholder="Left Button">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Right Button">
                                <button class="btn btn-outline-secondary" type="button">Button</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button">Button</button>
                                <input type="text" class="form-control" placeholder="Left & Right Button">
                                <button class="btn btn-outline-secondary" type="button">Button</button>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="form-label">Button with Dropdown</label>
                            <div class="input-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                                <input type="text" class="form-control" placeholder="Left Dropdown">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Right Dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Color variants with Icons</label>
                            <div class="input-group">
                                <button class="btn btn-outline-primary" type="color"><i class="feather icon-aperture"></i> Outline color</button>
                                <input type="text" class="form-control" placeholder="Left Button">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Right Button">
                                <button class="btn btn-success" type="color"><i class="feather icon-download-cloud"></i> Fill color</button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="form-label">Checkbox & Radio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with checkbox">
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="radio" value="" aria-label="Radio button for following text input">
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with radio button">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-light">Reset</button>
                    </div>
                </div>
            </div>
            <!-- [ form-element ] end -->
        
        </div>
        <!-- [ Main Content ] end -->
    </div>
    

    <!-- Required Js -->
    <script src="{% static 'assets/js/dashboard/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/plugins/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/pcoded.min.js' %}"></script>



<!-- custom-chart js -->
<script src="{% static 'assets/js/dashboard/pages/dashboard-sale.js' %}"></script>
</body>

</html>
