{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <div class="logo">
            <img src="{% static 'assets/img/citlogotype.png' %}" alt="" class="img-fluid">
          </div>
          <div class="logo">
            <img src="{% static 'assets/img/citlogo.png' %}" alt="" class="img-fluid">
          </div>
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header>
  <!-- End Header -->




    
  <!-- Part 1 -->
  <section class="section" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="left-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                  <br><br>
                  <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Terms and Conditions</strong></li>
                        <li id="personal"><strong>Data Privacy Policy</strong></li>
                        <li id="payment"><strong>Capture Images</strong></li>
                        <li id="confirm"><strong>Instructions</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> 

                    <!-- fieldsets -->
                    <fieldset>
                      <div class="form-card">
                          <div class="row">
                            <div class="col-7">
                              <h2 class="fs-title">Terms and Conditions</h2>
                            </div>
                          </div> 
                          <div class="row">
                            <div class="col-12">
                            <br>
                            The services offered by EURIQA under the Terms of Service include 
                            various products and services to help you sell goods and services to buyers, whether 
                            online (“Online Services”) by enabling you to create and build your own online store, 
                            in person (“POS Services”), or both. Any such services offered by EURIQA are referred 
                            to in these Terms of Services as the “Services”. Any new features or tools which are
                            added to the current Services shall be also subject to the Terms of Service. You can 
                            review the current version of the Terms of Service at any time. EURIQA reserves the 
                            right to update and change the Terms of Service by posting updates and changes to the 
                            EURIQA website. You are advised to check the Terms of Service from time to time for 
                            any updates or changes that may impact you. and if you do not accept such amendments, 
                            you must cease using the Services.
                           </p>
                           <p align="justify">You must read, agree with and accept all of the terms and conditions 
                             contained or expressly referenced in these Terms of Service, including EURIQA’s
                              Acceptable Use Policy (“AUP”) and Privacy Policy, and, if applicable, the Supplementary 
                              Terms of Service for E.U. Merchants ("EU Terms"), the EURIQA API License and Terms of 
                              Use (“API Terms”) and the EURIQA Data Processing Addendum (“DPA”) before you may sign 
                              up for a EURIQA Account or use any EURIQA Service. Additionally, if you offer goods 
                              or services in relation to COVID-19, you must read, acknowledge and agree to the Rules 
                              of Engagement for Sale of COVID-19 Related Products.
                           </p>
                           <p align="justify">Everyday language summaries are provided for convenience only and appear
                              in bold under each section, but these summaries are not legally binding. Please read the 
                              Terms of Service, including any document referred to in these Terms of Service, for the 
                              complete picture of your legal requirements. By using EURIQA or any EURIQA services, 
                              you are agreeing to these terms. Be sure to occasionally check back for updates.</p>
                            </div>
                          </div> 
                      </div> 
                      <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                      <div class="form-card">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="fs-title">Data Privacy Policy</h2>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <br>
                            <p align="justify">We collect information to provide better services to all our users — from figuring out 
                              basic stuff like which language you speak, to more complex things like which ads you’ll find most useful, 
                              the people who matter most to you online, or which YouTube videos you might like. The information EURIQA 
                              collects, and how that information is used, depends on how you use our services and how you manage your 
                              privacy controls.<br><br>

                              When you’re not signed in to a EURIQA Account, we store the information we collect with unique 
                              identifiers tied to the browser, application, or device you’re using. This helps us do things 
                              like maintain your language preferences across browsing sessions.<br><br>
                              
                              When you’re signed in, we also collect information that we store with your EURIQA Account, 
                              which we treat as personal information.
                             </p>
                            </div>
                          </div> 
                      </div> 
                      <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                      <div class="form-card">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="fs-title">Image Upload:</h2>
                          </div>
                          <div class="col-5">
                            <h2 class="steps">Step 3 - 4</h2>
                          </div>
                        </div> 
                        <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> 
                        <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                      </div> 
                      <input type="button" name="next" class="next action-button" value="Submit" /> 
                      <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                      <div class="form-card">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="fs-title">Instructions</h2>
                          </div>

                        </div> <br><br>
                        <h2 class="maroon-text text-center"><strong>Part 1</strong></h2>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis congue consequat massa, sit amet ultrices diam sollicitudin ut. Vivamus 
                            at porttitor dui. Nunc luctus orci ut metus venenatis feugiat eu sit amet nibh.
                            asellus at pharetra ante.</p>

                        <h2 class="maroon-text text-center"><strong>Part 2</strong></h2>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis congue consequat massa, sit amet ultrices diam sollicitudin ut. Vivamus 
                            at porttitor dui. Nunc luctus orci ut metus venenatis feugiat eu sit amet nibh.
                            asellus at pharetra ante..</p>

                        <h2 class="maroon-text text-center"><strong>Part 3</strong></h2>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis congue consequat massa, sit amet ultrices diam sollicitudin ut. Vivamus 
                            at porttitor dui. Nunc luctus orci ut metus venenatis feugiat eu sit amet nibh.
                            asellus at pharetra ante..</p>
                          <div class="row justify-content-center">
                          <div class="col-7 text-center">
                            
                          </div>
                        </div>
                        <div class="row-12">
                          <div class="row justify-content-center">
                            <a href="../enrollee/exam">
                              <input type="button" name="Proceed" class="next action-button" value="Submit" /> 
                            </a>
                          </div>
                          

                      </div>
                       
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/multistep.js' %}"></script>
  <script type="text/javascript">
  
    $(document).ready(function(){

    $('#smartwizard').smartWizard({
    selected: 0,
    autoAdjustHeight:true,
    transitionEffect:'fade',
    showStepURLhash: false,
    
    });
    
    });

  </script>

</body>

</html>