{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EURIQA - Terms and Conditions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicon -->
 <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

  <!-- EURIQA Fonts -->
  <link href="https://fonts.EURIQAapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/multistep.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/enrolleedetails.css' %}" rel="stylesheet">
  
  <link href="{% static 'assets/css/fontawesome.css' %}" rel="stylesheet">

  <!-- Multi Modal Css Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="../enrollee/terms"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <div class="ml-auto">
            <div class="list-unstyled">
              <div class="dropdown pc-h-item">
                <a class="pc-head-link mr-0"   href="../enrollee/logout" role="button" aria-haspopup="false" aria-expanded="false" style="font-family: Montserrat, sans-serif;">
                    <span class="user-name">Logout</span>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </nav>
      <!-- End navbar -->

    </div>
  </header>
  <!-- End Header -->




    
  <!-- Part 1 -->
  <section class="section" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div class="left-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-9 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                  <br><br>
                  <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Terms and Conditions</strong></li>
                        <li id="personal"><strong>Data Privacy Policy</strong></li>
                        <li id="payment"><strong>Capture Images</strong></li>
                        <li id="confirm"><strong>Instructions</strong></li>
                    </ul>
                   <br> 

                    <!-- fieldsets -->
                    <fieldset>
                      <div class="form-card">
                          <div class="row">
                            <div class="col-7">
                              <h2 class="fs-title">Terms and Conditions</h2>
                            </div>
                          </div> 
                          <div class="row">
                            <div class="col-12">
                            <br>
                            The services offered by EURIQA under the Terms of Service include 
                            various products and services to help you sell goods and services to buyers, whether 
                            online (“Online Services”) by enabling you to create and build your own online store, 
                            in person (“POS Services”), or both. Any such services offered by EURIQA are referred 
                            to in these Terms of Services as the “Services”. Any new features or tools which are
                            added to the current Services shall be also subject to the Terms of Service. You can 
                            review the current version of the Terms of Service at any time. EURIQA reserves the 
                            right to update and change the Terms of Service by posting updates and changes to the 
                            EURIQA website. You are advised to check the Terms of Service from time to time for 
                            any updates or changes that may impact you. and if you do not accept such amendments, 
                            you must cease using the Services.
                           </p>
                           <p align="justify">You must read, agree with and accept all of the terms and conditions 
                             contained or expressly referenced in these Terms of Service, including EURIQA’s
                              Acceptable Use Policy (“AUP”) and Privacy Policy, and, if applicable, the Supplementary 
                              Terms of Service for E.U. Merchants ("EU Terms"), the EURIQA API License and Terms of 
                              Use (“API Terms”) and the EURIQA Data Processing Addendum (“DPA”) before you may sign 
                              up for a EURIQA Account or use any EURIQA Service. Additionally, if you offer goods 
                              or services in relation to COVID-19, you must read, acknowledge and agree to the Rules 
                              of Engagement for Sale of COVID-19 Related Products.
                           </p>
                           <p align="justify">Everyday language summaries are provided for convenience only and appear
                              in bold under each section, but these summaries are not legally binding. Please read the 
                              Terms of Service, including any document referred to in these Terms of Service, for the 
                              complete picture of your legal requirements. By using EURIQA or any EURIQA services, 
                              you are agreeing to these terms. Be sure to occasionally check back for updates.</p><br><br>
                            </div>
                          </div> 
                      </div> 
                      <!-- Buttons -->
                      <div style="float: right;">
                        <a class="btn btn-secondary" href="../enrollee/datapolicy" style="background-color: maroon; width: 150px; height: 40px;">Next</a>
                      </div>

                      <!-- <a href="../enrollee/datapolicy">
                      <input type="button" name="next" class="next action-button" value="Next" />
                      </a> -->
                    </fieldset>
                  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">       

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>EURIQA</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>